.App-body {
  @media (min-width: 600px) {
    width: 60%;
    max-width: 895px;
    text-align: center;
  }

  .App-section {
    margin-top: 50px;

    .Text-justify {
      font-size: larger;
      text-align: justify;
      text-justify: inter-word;

      @media (min-width: 600px) {
        text-align: center;
      }
    }
  }
}
